body {
    margin: 0;
    font-family: Raleway, sans-serif;
    display: flex;
    background: #f0f0f0;
}

/* MENÚ LATERAL */
.menu-lateral {
    width: 190px;
    background: #1d1d1f;
    color: white;
    padding: 25px;
    min-height: 100vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    position: sticky;
}

.menu-lateral a {
    color: #ddd;
    text-decoration: none;
    margin: 10px 0;
    transition: 0.6s;
}

.menu-lateral a:hover {
    color: #ffcc00;
    letter-spacing: 3px;
}

/* CONTENEDOR GENERAL */
.contenidor {
    flex: 1;
}

.hero {
    padding: 80px 40px;
    background: url(assets/img/play_station.png) center/cover;
    color: white;
}

.hero h1 {
    font-size: 3rem;
    margin: 0;
}

.btn-hero {
    background: rgba(0,0,0,0.4);
    border: 2px solid white;
    padding: 10px 20px;
    display: inline-flex;
    align-items: center;
    color: white;
    cursor: pointer;
    transition: 0.8s;
}

.btn-hero:hover {
    transform: scale(1.1);
    background: rgba(255,255,255,0.2);
}

/* TARGETES (INDEX) */
.targetes {
    display: flex;
    gap: 25px;
    padding: 40px;
}

.caixa {
    width: 260px;
    background: white;
    padding: 15px;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 0 5px #aaa;
    transition: 1s;
}

.caixa img {
    width: 100%;
    height: 340px;
    border-radius: 10px;
    transition: 1.5s;
}

.caixa:hover {
    transform: translateY(50px);
    background: #8f8f8f;
}

/* TIMING FUNCTIONS */
.t-linear { transition-timing-function: linear; }
.t-ease-in { transition-timing-function: ease-in; }
.t-ease-out { transition-timing-function: ease-out; }


/* PAGINA GALERIA */
.galeria {
    padding: 40px;
}

.caixa-galeria {
    max-width: 1600px;
    background: white;
    padding: 15px;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 0 5px #aaa;
}

.galeria-img {
    width: 300px;
    height: 450px;
    border-radius: 10px;
    transition: 1.5s;
}

.titol-galeria {
    margin-left: 40px;
    font-size: 2.5rem;
}

.targetes-galeria {
    color:black;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    padding: 40px;
}

.targetes-galeria.columna {
    display: flex;
    flex-direction: column;
    gap: 100px;
    padding: 60px 0;
}

.targetes-galeria.columna .caixa {
    width: calc(100% - 120px);
    margin: 0 auto;
    max-width: 1000px;
    padding: 35px;
}

.loader {
    width: 60px;
    height: 60px;
    border: 6px solid #ccc;
    border-top-color: #0011ff;
    border-radius: 50%;
    margin: auto;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    to { transform: rotate(360deg); }
}

.bloc-animat {
    width: 120px;
    height: 120px;
    margin: auto;
    background: #8ddb44;
    border-radius: 12px;
    animation: bounceAndColor 3s ease-in-out infinite alternate;
}

@keyframes bounceAndColor {
    0% {
        transform: translateY(0) scale(1);
        background: #ff7b00;
    }  
    25% {
        transform: translateY(-5px) scale(1.2) rotate(90deg);
        background: #eeff00;
    }
    50% {
        transform: translateY(-10px) scale(1.3) rotate(180deg);
        background: #51ff00;
    }
    75% {
        transform: translateY(-15px) scale(1.4) rotate(270deg);
        background: #00ffff;
    }
    100% {
        transform: translateY(-20px) scale(1.5) rotate(360deg);
        background: #bc61e0;
    }
}

.scroll-reveal {
    opacity: 0;
    transform: translateY(40px);

    /* Animació scroll */
    animation: reveal 1.2s ease-out forwards;
    animation-timeline: view();
    animation-range: entry 20% cover 40%;
}

@keyframes reveal {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@supports not (animation-timeline: view()) {
    .scroll-reveal {
        opacity: 0;
        animation: fallbackFade 1.5s ease forwards;
    }

    @keyframes fallbackFade {
        from { opacity: 0; transform: translateY(40px); }
        to   { opacity: 1; transform: translateY(0); }
    }
}
